@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

/* Hide clutter */
.tabs-newtab-button,
#new-tab-button,
#page-proxy-favicon,
#PanelUI-button,
.tab-close-button,
.toolbarbutton-1,
.urlbar-history-dropmarker,
.tabbrowser-tab:not([pinned]) .tab-icon-image {
    display: none !important;
}

/* Set global font
* {
    font-family: gohufont !important;
}
*/

/* Style tabs */
#tabbrowser-tabs  {
    font-family: terminus !important;
    font-size: 8pt !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    height: 16px !important;
    text-align: center !important;
    background: #09090d !important;
    color: #8b8b8c !important;
}


.tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 32px !important;
    max-width: 100% !important;
    /* margin-top: 2px !important; */
}

.tabbrowser-tab[selected="true"]{
    color: #edeff2 !important;
    background-color: #353540 !important;
}

/* Remove australis shit */
#TabsToolbar:not(:-moz-lwtheme)::after,
#TabsToolbar:not(:-moz-lwtheme)::before {
    display: none !important;
}

.tab-background-start,
.tab-background-end {
    visibility: hidden !important;
    box-shadow: none !important;
}

.tab-background-middle {
    background: none !important;
}

#TabsToolbar,
#TabsToolbar *{
    clip-path: none !important;
    max-height: 42px !important;
}

#TabsToolbar,
.tabbrowser-tab *,
.tabs-newtab-button,
.toolbarbutton,
.tab-background *{
    background-image: none !important;
}

.tab-background,
.tab-background-middle,
.tabbrowser-tab:after,
.tabbrowser-tab:before,
.tabbrowser-tab:after {
    box-shadow: none !important;
    background: none !important;
}

#TabsToolbar:after {
    border-bottom: 1px solid #e8eaed !important;
}

}
