**/*.log

.weechat/logs
.config/mpv/watch_later/

.mpd/mpdstate
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpd.pid

.config/fish/fish*history
.config/fish/fishd*

.config/transmission-daemon/torrents
.config/transmission-daemon/resume

.vim/.netrwhist
.vim/plugged
