[push]
	default = simple
[user]
	email = arianon@openmailbox.org
	name = Michael Valera
[alias]
	shallow-clone = clone --depth 1
[format]
	pretty = format: %C(auto)%h%d %s %C(bold black)(%cr)%C(reset) %C(bold blue)<%an>
