[submodule "bin"]
	path = bin
	url = git://github.com/arianon/scripts.git
[submodule ".zsh/extensions/syntax-highlighting"]
	path = .zsh/extensions/syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
