[submodule ".zsh/extensions/syntax-highlighting"]
	path = .zsh/extensions/syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/extensions/history-substring-search"]
	path = .zsh/extensions/history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".zsh/extensions/completions"]
	path = .zsh/extensions/completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zplug"]
	path = .zplug
	url = git://github.com/b4b4r07/zplug.git
