**/*.log

.weechat/logs
.config/mpv/watch_later/

.mpd/mpdstate
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpd.pid
.mpd/playlists

.config/fish/fish*history
.config/fish/fishd*

.config/transmission-daemon/*
!.config/transmission-daemon/settings.json

.vim/.netrwhist
.vim/plugged

.weechat/*/
!.weechat/ruby/
!.weechat/script/

.spacemacs.d/.custom.el
