! Colors
*background: #0a0c10
*foreground: #b7bdcc
*cursorColor: #b7bdcc

*color0: #363c4a
*color1: #994e55
*color2: #849971
*color3: #c5aa75
*color4: #707e8c
*color5: #8f7189
*color6: #778f8e
*color7: #a6aab2

*color8: #4d576b
*color9: #bf616a
*color10: #a3be8c
*color11: #ebcb8b
*color12: #8fa1b3
*color13: #b48ead
*color14: #96b5b4
*color15: #b9bbbe

! URxvt
URxvt.perl-lib:	/usr/lib/urxvt/perl
! requires urxvt-perls
URxvt.perl-ext-common:	keyboard-select,url-select,clipboard
URxvt.url-select.launcher: /home/arianon/bin/link-open
URxvt.url-select.underline: true
URxvt.url-select.button: 1

URxvt.keysym.M-w: perl:url-select:select_next
URxvt.keysym.M-e: perl:keyboard-select:activate
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-S-v: perl:clipboard:paste_escaped

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.scrollBar: false
URxvt.internalBorder: 8
!URxvt.cursorBlink: true

!no bold font
URxvt*boldFont:
URxvt*font:     xft:PragmataPro:size=10

! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xft.hinting: false
Xft.autohint: true
Xft.hintstyle: hintslight

!vim ft=xdefaults ts=8
