#include "etc/themes/base16-bright"

! URxvt
URxvt.perl-lib:	/usr/lib/urxvt/perl
! requires urxvt-perls
URxvt.perl-ext-common:	keyboard-select,url-select,clipboard
URxvt.url-select.launcher: /home/arianon/bin/link-open
URxvt.url-select.underline: true
URxvt.url-select.button: 1

URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt.keysym.M-w: perl:url-select:select_next
URxvt.keysym.M-S-e: perl:keyboard-select:activate
URxvt.keysym.M-S-c: perl:clipboard:copy
URxvt.keysym.M-S-v: perl:clipboard:paste_escaped

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.scrollBar: false
URxvt.internalBorder: 8
!URxvt.cursorBlink: true

!URxvt*font:  -*-gohufont-medium-*-*-*-14-*-*-*-*-*-iso10646-*
URxvt*font:  -*-tewi-medium-*-*-*-11-*-*-*-*-*-iso10646-*

!URxvt*font: -*-ariafont-medium-*-*-*-*-*-*-*-*-*-iso10646-*
!URxvt*boldFont: -*-ariafont-bold-*-*-*-*-*-*-*-*-*-iso10646-*

!URxvt*font: xft:Liberation Mono:size=9
!URxvt*letterSpace: -2

dmenu.selforeground: #000000
dmenu.selbackground: #ffffff

! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xft.hinting: false
Xft.autohint: true
Xft.hintstyle: hintslight

!vim ft=xdefaults ts=8
