html, body {
      background-color: #edeff2;
      font-family: "Ubuntu";
      font-weight: normal;
      margin-left: 7%;
      height: 100%;
    }
    a:link,a:visited,a:active {
      text-decoration: none;
      color: #7086b2;
      font-weight: normal;
    }
    a:hover {
      text-decoration: none;
      color: #b26f7a;
      font-weight: normal;
    }
    table {
      font-size: 18pt;
      border-spacing: 8px;
    }
    td {
      vertical-align: middle;
    }
    td:first-child {
      font-weight: bold;
      color: #58698c
    }
    td:nth-child(2) {
      font-weight: normal;
      color: #353540;
    }
